openai
python-dotenv
sqlalchemy
dashscope
pydub
fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
httpx
authlib
python-multipart
itsdangerous
pydantic[email]
bcrypt==4.0.1
fastmcp
oss2
psycopg2-binary
numpy
google-auth
google-auth-oauthlib
google-api-python-client
git